.storyboard {
  box-sizing: border-box;
  text-align: center;
  list-style-position: inside;
  margin: 0rem;
  padding: 0rem;
}

.co-logo {
  width: 10vh;
  height: 10vh;
  /* padding: 1rem; */
}

.splash {
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.449);
  border-radius: 5px;
  margin-top: 2.5rem;
  width: 70vh;
  height: 70vh;
  /* padding: 1rem; */
  /* margin: 1rem; */
  /* justify-content: space-evenly;
  float: right; */
}

.places-card {
  /* width: 30vw; */
  border: 1px solid rgb(12, 105, 12);
  display: flex;
  padding: 1rem 0;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #0d3017;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.537);
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.449);
}

.places-card div {
  padding: 1rem 0;
  text-align: center;
  font-weight: 900;
}

.storyBoardImg {
  width: 35vw;
  height: 35vh;
  
}