.storyboard {
  box-sizing: border-box;
  text-align: center;
  list-style-position: inside;
  margin: 0rem;
  padding: 0rem;
}

.co-logo {
  width: 10vh;
  height: 10vh;
  padding: .2rem;
}

.splash {
  width: 100vh;
  height: 100vh;
}