/* HomePage */
.homeStyle {
  background-image: url('./Img/FroHome.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* StoryBoard */
.places-card {
  border: 1px solid rgb(12, 105, 12);
  display: flex;
  margin: 1rem 0;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: #0d3017;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.537);
  box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.449);
}

.places-card div {
  padding: 1rem 0;
  text-align: center;
  font-weight: 900;
}

.storyBoardImg {
  width: 35vw;
  height: 35vh;
  
}

.storyboard {
  box-sizing: border-box;
  text-align: center;
  list-style-position: inside;
  margin-top: 0rem;
  padding: 0rem;
  /* background-color: silver, */
  /* background-image: url('./Img/DuneV2.jpg'); */
  background-image: url('./Img/sand.jpg');
  /* box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.449); */
}